{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:application_application_university_roster' %}">
            {% trans "University roster" %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:application_application_confirmed_small_teams' %}">
            {% trans "Confirmed: small/no team" %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:application_application_test_user_cleanup' %}">
            {% trans "Test user cleanup" %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:application_application_hacker_export' %}">
            {% trans "Export hacker data" %}
        </a>
    </li>
{% endblock %}
